@charset "utf-8";
/* CSS Document */

.content_right{width:732px; background:url(../images/news_bg.png) no-repeat top;min-height:880px;height:auto;padding:0 5px;margin-left:15px;}
.main_content{margin-top:10px;}
.position{height:46px; line-height:46px;border-bottom:3px solid #dcd9ef;}
.position_nav{height:46px; line-height:46px; color:#777; float:left;}
.home{width:19px; height:19px; float:left;padding-left:10px;padding-top:13px;margin-right:5px;}
.news_list{padding:15px;}
.news_list dl{height:132px;margin-bottom:10px;}
.news_list dt{float:left;margin-right:15px; }
.news_list dd{color:#666}
.news_first_title{font-weight:600;height:30px; }
.news_first_title a{color:#63F; }
.news_first_more { height:30px;margin-top:10px;}
.news_first_more a{display:block;padding:3px 0; width:80px; background:#D5CCF2; text-align:center; float:right}
.news_list li{height:30px; line-height:30px;border-bottom:1px dotted #eee;}
.news_first_more a:hover{background:#e76e35; color:#fff;}

.news_list li span{float:right;color:#999;}
.news_list li a{color:#0e51b7}
.news_list li a:hover{color:#F60;}
.pages{height:30px;}
.pages a{float:left;margin-right:3px; background:#dcd9ef;padding:3px 10px;}
.pages .curr{ background:#5f55b8;color:#fff;}
.pages a:hover{background:#5f55b8;color:#fff;}

/*新闻内容展示*/ 
.news_list h1{font-size:18px; text-align:center;height:40px; line-height:40px; color:#5f55b8}
.date{height:25px; line-height:25px; text-align:center; color:#666;}
.news_content p{text-indent:1.5em; line-height:1.5em;padding:5px  0;}
.news_list .relevant li{height:25px; line-height:25px;}
.relevant {margin-top:10px;}
/*师生作品*/
.works {margin-top:0;}
.works ul{padding:20px;margin-top:0px;}
.works ul li a{display:block; height:35px; line-height:35px; background:#dcd9ef url(../images/Triangle.png) right center no-repeat; text-indent:20px;margin-top:5px;}
.works ul li a.curr{background:#5f55b8 url(../images/Triangle1.png) right center no-repeat; color:#fff;}
.works ul li a:hover{background:#5f55b8 url(../images/Triangle1.png) right center no-repeat; color:#fff;}
/*works*/
.works_con dl{width:200px; float:left;margin-right:30px;height:auto;margin-top:20px;}
.works_con dl dt{float:none;}
/*视频展示页面*/
.video_show{background:url(../images/video_bg.jpg) top center  no-repeat;  min-height:670px;height:auto;  width:981px;padding:0 5px;}
.video{width:892px;height:410px; background:#5f55b8;margin:0 auto; margin-top:24px;}
.video_content{width:892px;margin:0 auto; height:auto;margin-top:20px;margin-bottom:40px;}

.video_title{height:45px; line-height:45px;width:96px; text-align:center; background:url(../images/video_title.png);margin-bottom:10px;}
.video_left{width:620px;height:394px;padding-left:10px;padding-top:10px;float:left;}
.video_right{float:left; color:#fff; width:248px;padding-left:10px;padding-top:10px;}
.course_name{ font-size:18px;height:35px; line-height:35px; font-weight:0;}
/*资源页面*/
.resources{background: url(../images/resources_bg.png)  top center  no-repeat;  min-height:670px;height:auto;  width:981px;padding:0 5px;}
.resources_search{width:981px;height:68px; background:url(../images/search.png) no-repeat;}
.resources_search_left{float:left;padding-left:80px;padding-top:15px; color:#5f55b8;}
.search_text{height:32px;width:300px;border:none;line-height:32px;color:#999;border-bottom:2px solid #dcd9ef;}
.search_button{border:none; border-bottom:2px solid #5f55b8; width:80px; text-align:center; line-height:34px; height:34px; background:#7066cc;color:#fff;}
.resources_search_right{float:left;padding-left:10px;padding-top:15px;}
.resources_content{padding:20px;}
.resources_content .boutique {background:url(../images/sn_bg.png) no-repeat top; width:100%;margin-top:0px;height:auto;}
.thead,.ta,.tb{height:30px;border-bottom:1px solid #CCC; line-height:30px;}
.boutique a{color:#5f55b8}
.ta{background:#fafafa;}
.page_s{padding-top:30px;padding-left:250px;}