<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    <description>基础配置</description>
    <context:property-placeholder ignore-unresolvable="true"
                                  location="classpath*:application.properties"/>


    <!-- 使用annotation 自动注册bean, @Required、@Autowired的属性被注入 -->
    <context:component-scan base-package="com.quartet.resman.service,com.quartet.resman.utils,com.quartet.resman.store,com.quartet.resman.converter"/>

    <!--数据源配置-->
    <bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close">
        <!-- Connection Info -->
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>

        <!-- Connection Pooling Info -->
        <property name="maxActive" value="${jdbc.conn.maxActive}"/>
        <property name="maxIdle" value="${jdbc.conn.maxIdle}"/>
        <property name="minIdle" value="0"/>
        <property name="defaultAutoCommit" value="false"/>
    </bean>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="com.quartet.resman.entity"/>
        <property name="persistenceProvider">
            <bean class="org.hibernate.jpa.HibernatePersistenceProvider"/>
        </property>
        <property name="jpaDialect">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaDialect"/>
        </property>
        <property name="jpaVendorAdapter" ref="hibernateJpaVendorAdapter"/>

        <property name="jpaPropertyMap">
            <map>
                <entry key="hibernate.query.substitutions" value="${hibernate.query.substitutions}"/>
                <entry key="hibernate.default_batch_fetch_size" value="${hibernate.default_batch_fetch_size}"/>
                <entry key="hibernate.max_fetch_depth" value="${hibernate.max_fetch_depth}"/>
                <entry key="hibernate.bytecode.use_reflection_optimizer"
                       value="${hibernate.bytecode.use_reflection_optimizer}"/>
                <!--<entry key="hibernate.generate_statistics" value="${hibernate.generate_statistics}"/>-->
                <!--<entry key="hibernate.cache.use_second_level_cache" value="${hibernate.cache.use_second_level_cache}"/>-->
                <!--<entry key="hibernate.cache.use_query_cache" value="${hibernate.cache.use_query_cache}"/>-->
                <!--<entry key="hibernate.cache.region.factory_class" value="${hibernate.cache.region.factory_class}"/>-->
                <entry key="net.sf.ehcache.configurationResourceName"
                       value="${net.sf.ehcache.configurationResourceName}"/>
                <entry key="hibernate.cache.use_structured_entries" value="${hibernate.cache.use_structured_entries}"/>
                <entry key="hibernate.hbm2ddl.auto" value="update"/>
            </map>
        </property>
    </bean>

    <bean id="hibernateJpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
        <property name="database" value="${jpa.database}"/>
        <property name="generateDdl" value="${jpa.generateDdl}"/>
        <property name="databasePlatform" value="${jpa.databasePlatform}"/>
        <property name="showSql" value="${jpa.show_sql}"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <jpa:repositories base-package="com.quartet.resman.repository"
                      transaction-manager-ref="transactionManager"
                      entity-manager-factory-ref="entityManagerFactory"/>
    <!--<tx:annotation-driven transaction-business="transactionManager"/>-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="get*" propagation="REQUIRED" read-only="true"/>
            <tx:method name="count*" propagation="REQUIRED" read-only="true"/>
            <tx:method name="find*" propagation="REQUIRED" read-only="true"/>
            <tx:method name="list*" propagation="REQUIRED" read-only="true"/>
            <tx:method name="*" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut id="serviceTxPc" expression="execution(* com.quartet.resman.service.*.*(..))"/>
        <aop:advisor pointcut-ref="serviceTxPc" advice-ref="txAdvice"/>
    </aop:config>

    <!--<import resource="spring-config-task.xml"/>-->
    <import resource="spring-config-shiro.xml"/>
    <import resource="spring-config-jcr.xml"/>

</beans>