<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

       <description>基础配置</description>
       <context:property-placeholder ignore-unresolvable="true"
                                     location="classpath*:application.properties"/>


       <!-- 使用annotation 自动注册bean, @Required、@Autowired的属性被注入 -->
       <context:component-scan base-package="com.quartet.resman.utils,com.quartet.resman.store"/>

       <import resource="spring-config-jcr.xml"/>

</beans>